/target
/.idea
/.nao
/ballpit
/verification/output/now
perf.data*
flamegraph.svg
/verification/sources/verify/simple/classes/
/verification/sources_invalid/classes
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv
/.devcontainer/state
